.about__container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about__me{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary),transparent);
    display: grid;
    place-items: center;
    text-align: justify;
}

.about__me-image{
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    width: 100%;
    height: 100%;
}

.about__me-image:hover {
    transform: rotate(0deg);
    transition: var(--transition);
}

.about__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about__card{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    cursor: pointer;
    transition: var(--transition);
}

.about__card:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}

.about__icon{
    color: var(--color-primary);
    font-size: 1,4rem;
    margin-bottom: 1rem;
}

.about__card h5{
    font-size: 1rem;
    font-weight: 600;
}

.about__card small{
    color: var(--color-light);
    font-size: 0.8rem;
    
}
.about__card small a{
    /* color: var(--color-light); */
    font-size: .8rem;
    font-weight: 600;
}

.about__content p{
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
    text-align: justify;
}

@media screen and (max-width: 1024px){
    .about__container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about__me{
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about__content p{
        margin: 1rem 0 1.5rem;
    }
}


/* Mobile */

@media screen and (max-width: 600px){
    .about__container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about__cards{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    .about__me{
        width: 68%;
        margin: 0rem auto 3rem;
    }
    .about__content {
        text-align: center;
    }
    .about__content p{
        margin: 1.5rem 0;
    }
}